﻿/* DEFAULTS
----------------------------------------------------------*/
*
{
	font-family:Verdana;
	font-size:12px;
	color:Black;
	margin: 0px;
    padding: 0px;
	top: 0px;
	left: 0px;
}
body
{
    background-image:url(images/Dashboard   .jpg);
    background-repeat:no-repeat;
    background-position:center;
    background-color:#000033;
    width:100%;
    height:100%;
}

a:link, a:visited
{
    color: #034af3;
}

a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

a:active
{
    color: #034af3;
}

p
{
    margin-bottom: 10px;
    line-height: 1.6em;
}


/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #666666;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}

h1
{
    font-size:3.0em;
    color:Black;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-weight: 600;
}

h2
{
    font-size:3.5em;
    color:Black;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-weight: 600;
    
}

h3
{
    font-size:3.0em;
    color:Black;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-weight: 600;
}

h4
{
    font-size:1.4em;	
	text-align:center;
	border-top:solid 1px #cccccc;
	border-bottom:solid 1px #cccccc;
	background-color:#ff9900;
	color:#ffffff;
}

h5, h6
{
    font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page
{
    width: 100%; height:100%; 
    background-color: #fff;
    margin: 20px auto 0px auto;
    border: 1px solid #496;
}

.header
{
    width:100%; height:75px; 
    background-image:url(images/header.gif);
    background-repeat:no-repeat;
    position: absolute;
}

.header h1
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: Black;
    border: none;
    line-height: 2em;
    font-size: 2em;
}

.main
{
    padding: 0px 12px;
    margin: 70px 8px 8px 8px;
    min-height: 420px;
}

.leftCol
{
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}

.footer
{
    font-size:0.8em;
	background-color: #465c71;
	border-top:solid 1px #CCCCCC;
	margin-top:150px;
	color: #dde4ec;
    padding: 0px 0px 8px 0px;
    margin: 0px auto;
    text-align: center;
    line-height: normal;
    width: 100%;
}
.errMsg
{
	color:#ff0000;
	font-style:normal;
	font-weight:bold;
	font-size:1s.9em;
}

.bintang
{
    color:#ff0000;
    font-style:normal;
    font-weight:bold
}

.version
{
	color:Black;
	font-style:normal;
	font-size:smaller;
	font-size:1s.9em;
}

.body_table
{
    background-color:#eaeaea;
}

.body_table_main
{
    background-image:url(images/Logo.gif); 
    background-position:top; 
    background-repeat:no-repeat;
    height: 100%;
}

/* TAB MENU   
----------------------------------------------------------*/

div.hideSkiplink
{
    background-color:#3a4f63;
    width:100%;
}

div.menu
{
    padding: 4px 0px 4px 8px;
}

div.menu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
}

div.menu ul li a, div.menu ul li a:visited
{
    background-color: #465c71;
    border: 1px #4e667d solid;
    color: #dde4ec;
    display: block;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;
}

div.menu ul li a:hover
{
    background-color: #bfcbd6;
    color: #465c71;
    text-decoration: none;
}

div.menu ul li a:active
{
    background-color: #465c71;
    color: #cfdbe6;
    text-decoration: none;
}

/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
    display: block;
}

fieldset label.inline 
{
    display: inline;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input.textEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

input.passwordEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

div.accountInfo
{
    width: 42%;
}

/* MISC  
----------------------------------------------------------*/

.clear
{
    clear: both;
}

.title
{
    float: left;
    text-align: left;
    width: auto;
    color: black;
    
}

.loginDisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px;
    color: black;
    
}

.loginDisplay a:link
{
    color: black;
}

.loginDisplay a:visited
{
    color: black;
}

.loginDisplay a:hover
{
    color: white;
}

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.bold
{
    font-weight: bold;
    color:Black;
}

.submitButton
{
    text-align: right;
    padding-right: 10px;
}