﻿body 
{
    
    background-image: url(images/EPIC.jpg);
    background-size: cover;
   
}

.form-area{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 410px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.2);
    padding: 35px;
}

.header-area {
    width: 100%;
    position: fixed;
    top: 0px;
    height: 49px;
    background: #F0F0F0;
    border: 1px none #CCC;
    padding: 0px;
}

.footer-area {
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 90%;
    left: 25%;
    right: 25%;
}

